/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16.03.2017, 21:56:13
    Author     : Sergey_Dresvyanin
*/

.persons-table {
    font-family:Arial, Helvetica, sans-serif;
    color:#001a33;
    margin-top: 1cm;
    font-size: 14px;
    table-layout:fixed;

    text-shadow: 1px 1px 0px #fff;
    background:#eaebec;
    border:#ccc 1px solid;
    border-collapse:separate;

    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;

    -moz-box-shadow: 0 1px 2px #d1d1d1;
    -webkit-box-shadow: 0 1px 2px #d1d1d1;
    box-shadow: 0 1px 2px #d1d1d1;
}

.persons-table th {
    font-weight:bold;
    padding:21px 25px 22px 25px;
    border-top:1px solid #e2f1ff;
    border-bottom:1px solid #eff9ff;

    background: #e6f3ff;
    background: -webkit-gradient(linear, left top, left bottom, from(#e2f7ff), to(#d6eeff));
    background: -moz-linear-gradient(top,  #e2f7ff,  #d6eeff);
}
.persons-table th:first-child{
    text-align: center;
    padding-left:20px;
}
.persons-table tr:first-child th:first-child{
    -moz-border-radius-topleft:3px;
    -webkit-border-top-left-radius:3px;
    border-top-left-radius:3px;
}
.persons-table tr:first-child th:last-child{
    -moz-border-radius-topright:3px;
    -webkit-border-top-right-radius:3px;
    border-top-right-radius:3px;
}
.persons-table tr{
    text-align: center;
    padding-left:20px;
}
.persons-table tr td:first-child{
    text-align: left;
    padding-left:20px;
    border-left: 0;
}
.persons-table tr td {
    padding:18px;
    border-top: 1px solid #ffffff;
    border-bottom:1px solid #eff9ff;
    border-left: 1px solid #eff9ff;

    background: #fafafa;
    background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
    background: -moz-linear-gradient(top,  #fbfbfb,  #fafafa);
}
.persons-table tr:nth-child(even) td{
    background: #f6f6f6;
    background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6));
    background: -moz-linear-gradient(top,  #f8f8f8,  #f6f6f6);
}
.persons-table tr:last-child td{
    border-bottom:0;
}
.persons-table tr:last-child td:first-child{
    -moz-border-radius-bottomleft:3px;
    -webkit-border-bottom-left-radius:3px;
    border-bottom-left-radius:3px;
}
.persons-table tr:last-child td:last-child{
    -moz-border-radius-bottomright:3px;
    -webkit-border-bottom-right-radius:3px;
    border-bottom-right-radius:3px;
}
.persons-table tr:hover td{
    background: #f2f2f2;
    background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
    background: -moz-linear-gradient(top,  #f2f2f2,  #f0f0f0);
}

.persons-table a:link {
    color: #001a33;
    font-weight: bold;
    text-decoration:none;
}
.persons-table a:visited {
    color: #cce6ff;
    font-weight:bold;
    text-decoration:none;
}
.persons-table a:active,
.persons-table a:hover {
    color: #bd5a35;
    text-decoration:underline;
}

.search-box{
    width: 300px;
    height: 50px;
    background: #e6f3ff;
    border: none;
    margin-right: 2%;
    padding-left: 10px;
    font-size: 14pt;
    color: #001a33;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.header{
    margin-top: 1%;
    margin-bottom: 4%;
}

.h1-syle {
    font-family:Arial, Helvetica, sans-serif;
    color:#001a33;
    font-size: 50px;
    margin-top: 2%;
    margin-left: 5%;
}

.h2-syle {
    font-family:Arial, Helvetica, sans-serif;
    color:#001a33;
    font-size: 30px;
    margin-top: 2%;
    margin-left: 5%;
}

.highlight {
    background-color: #00ffff;
}
